/* .rightbar{
    flex:4;
    /* background-color: rgb(197, 0, 0); */
/* } */


/* .rightbarWrapper{
    padding: 20px 50px ;
    
    

}
.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.rightbarTitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;

}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
}
.rightbarProfileImgContainer{
   
    position: relative;
}
.rightbarOnline{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(17, 245, 17);
  position: absolute;
  right: 2px;
  top:1px;
  border:2px solid white;
  
 

   
}
/* 
 */ 
 .rightbar {
    flex: 3.5;
  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .rightbarTitle{
      margin-bottom: 20px;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
